.home-fasilitas {
    .container {
        h3 {
            font-size: 18px;
        }
        ul {
            list-style-type: none;
        }
        li {
            list-style-type: none;
            margin-bottom: 20px;
            img {
                margin-right: 15px;
                width: 40px;
                
            }
        }
    }
}